@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Creepster", sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(https://images2.alphacoders.com/110/thumb-1920-1103754.jpg);
  box-sizing: border-box;
  background-attachment: fixed;
  overflow-x: hidden;
}

@keyframes updown {
  0% {
    transform: scale(1.2) rotate(-4deg);
    /* transform: rotate(-4deg); */
  }
  50% {
    transform: scale(1.5) rotate(0);
    /* transform: rotate(0); */
  }
  100% {
    transform: scale(1.2) rotate(4deg);
    /* transform: rotate(4deg); */
  }
}

.hero__container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #000, #24242490, #ffffff00);
}

.section__jump {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  width: 400px;
  transition: all 0.3s ease;
}

.section__jump:hover {
  background-color: #d265d7;
  padding: 5px 15px;
  border-radius: 5px;
  transform: scale(1.2) translateX(10%);
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 60px;
}

h1,
h2 {
  color: white;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  text-wrap: wrap;
}

p {
  margin: 2px;
}

.title__para {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

input,
button {
  padding: 6px 12px;
  border-radius: 15px;
  border: none;
  width: 150px;
}

button {
  background: #d265d7;
  border: none;
  box-shadow: 4px 4px 16px #242424;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: #c246c8;
}

.content__wrapper {
  backdrop-filter: blur(8px);
  background-color: #24242499;
  padding: 30px;
  box-shadow: 4px 4px 15px #000;
  border-radius: 8px;
  margin: 20px;
}

.input__button--wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
}

.result-item {
  padding: 10px;
  border: 1.5px solid #242424;
  border-radius: 5px;
  width: 90%;
  height: 100%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background: white;
  transition: all 0.3s ease;
}

.result-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px #00000020;
  cursor: not-allowed;
}

.result-item h3 {
  margin: 0;
}
.result-item img {
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  width: 150px;
}
#characterResults,
#episodeResults,
#locationResults {
  display: flex;
  justify-content: space-around;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
  scrollbar-color: #000;
}

.character__results--wrapper,
.location__results--wrapper,
.episode__results--wrapper {
  width: 40vw;
  height: 300px;
  overflow: auto;
  scrollbar-color: transparent;
  background-color: #00000020;
  box-shadow: inset 0px 0px 40px #00000090;
  border-radius: 6px;
  display: block;
  backdrop-filter: blur(10px);
}

.hidden {
  display: none;
}

/* Basic styling for skeleton loader */

.fade-in {
  opacity: 1;
  transform: scale(1);
  display: block;
  transition: all 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  display: none;
  transform: scale(0);
  transition: all 0.5s ease-out;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 0.5s infinite alternate;
  width: 15px;
}

.skeleton-loader {
  position: sticky;
  margin: 10px;
  padding: 10px;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: display 1s ease-in-out;
  animation-delay: 1s;
}

@keyframes display {
  0% {
    opacity: 1;
    display: block;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    display: none;
    transform: scale(0);
    transform: translateX(-50%);
  }
}

.skeleton-loader .skeleton-title {
  width: 60%;
  height: 20px;
  margin-bottom: 10px;
}

.skeleton-loader .skeleton-text {
  width: 50%;
  height: 15px;
  margin-bottom: 10px;
}

.skeleton-loader .skeleton-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
}

@keyframes shimmer {
  0% {
    background-color: #e0e0e0;
    box-shadow: 0 0 15px #fff;
  }
  100% {
    background-color: #e0e0e045;
    box-shadow: 0px 0px 0px #fffff0;
  }
}

/* CLICK AND COPY */

#copy__paste--clip {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

#characterList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding-left: -40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  gap: 0 30px;
}

#characterList.other__keywords {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  font-size: 12px;
}

li {
  text-wrap: nowrap;
  margin-right: 50px;
}

.character-item {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  color: #fff;
  border-radius: 4px;
  list-style-type: none;
  transition: all 0.3s ease;
}

.character-item:hover {
  background-color: #d265d7;
  transform: scale(1.2);
}

.character-item.copied {
  background-color: #a3e3a3;
  color: darkgreen;
}

#copyMessage {
  color: green;
  font-size: 1.2em;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

#copyMessage.visible {
  opacity: 1;
}
